.lg-wrap{
	width: 500px;
	overflow-x: scroll;
}
.lg-th{
	position: relative;
	min-width: 50px;
}
.lg-resizeHandle{
	position: absolute;
	box-sizing: border-box;
	right: 0;
	top: 0;
	width: 2px; /*Must be in px*/
	height: auto;
	/*border: 1px solid red;*/
	background-color: black;
	opacity: 0;
	cursor: col-resize;
	z-index: 900;
}
.lg-noselect{
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: col-resize;
}